<ul>
    <li>
        <a href="/">Home</a>
    </li>
    <li>
        <a href="/register">Cadastrar Clientes</a>
    </li>
    <li>
        <a href="/list">Lista de Clientes</a>
    </li>
    <li>
        <a href="/edit">Editar Cliente</a>
    </li>
</ul>

<hr>